
body {
    background-color: black;
    color: black;
}

.card {
    background-color: black;
}







    
}

.btn-card {
    margin-top: 0%;
    margin-bottom: 0%;
    background-origin: padding-box;
    border-style: solid;
}
   

