
body {
    background-color: black;
    color: black;
}

.card {
    background-color: black;
   
}

.carousel {
    border-color: black;
}

.Countdown {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    width: 20px;
    color: white;
    text-align: center;
    border: 0px black;
    border-radius: 0px;
  





   


