body {
    
    background-image: "images/horse-capital.jpg" 
    
}



.btn {
    background-color: transparent;
    border: transparent
    
}


.conainer {

}
.nav {
    
}

.col{
    margin-bottom: ;
    margin-top: auto;
    align-items: flex-start;
    
}

.col-centered{
    display: block;
    
    text-align: center;
    align-items: flex-start;
  }

