body {
    background-color: transparent;
}



.events {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 120px;
    margin-top: 10px;
    background-origin: 
    
    
}

.img-card {
    border-style: outset;
}

.card {
    background-color: transparent;
    margin-top: ;
}

.logo   {
    border-style: ;
    margin-top: 10%;
    border-style: solid;
    
}
    
}

.btn-card {
    margin-top: 0%;
    margin-bottom: 0%;
    background-origin: padding-box;
    border-style: solid;
}
   
.button{
    
}
.background {
    background-image: url('/images/Pierce.jpg');
    background-size: 100%;
    margin-bottom: 50px;
   
}
